
.fa-solid{
    color: #00A5EC;
    font-size: 40px;
    align-items: flex-end;
    
    
}
.first{
    text-align: left;
}

.div_second{
    background-color: #67676729;
    height: 1000px;
    width: 100%;
    
}
.div_containar{
    display: grid;
    grid-template-rows:322px 322px  ;
    grid-template-columns: 322px 322px 322px  ;
    row-gap: 12px;
    column-gap: 12px;
    margin: 0;
    margin-top: 20px;
}
.containar{
top: 220px;
left: 139px;
width: 300px;
height: 300px;

background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;
padding: 10px;
margin: 20px;
text-align: left;
}
.blur{
    filter: blur(4px);
}
.new_task{
   width: 500px;
   height: 250px;
   background-color:#FFFFFF;
   border-radius: 6px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   padding: 10px 30px 30px;

}
#css{
    top: 280px;
    left: 453px;
    width: 460px;
    height: 40px;
   
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    opacity: 1;
    text-align: start;
    margin: 20px;

}
#bottom{
    top: 345px;
left: 733px;
width: 180px;
height: 48px;
padding: 0%;
text-align: center;
background: #00A5EC 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;

}
.fa-circle-arrow-left{
color: black;
align-items: left;
font-size: 30px;
}
.fa-circle-plus{
    color: #00A5EC;
    text-align-last: right;
    font-size: 30px;
}

@media screen and (min-width: 300px)  and (max-width:1023px){
    #middle-div{
        display: flex;
        flex-direction: column;
    }
    
  }

  @media screen and (min-width: 1024px)  and (max-width:1400px){
    #middle-div{
        display: flex;
        
    }
    
  }



  @media screen and (min-width: 300px)  and (max-width:768px){
    .exploreButton{
        width: 20ww;
        /* height: 2vw; */
        font-size: auto;
    }
    
  }
  

  


@media screen and (min-width: 300px)  and (max-width:768px){
    #middle-div-two{
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto auto;
        width: 100%;

       
    }
    
}





@media screen and (min-width: 300px)  and (max-width:768px){
    .grid-items, body{
        background-size: cover;
        background-repeat: repeat-y;

       
    }
    
}

  

@media screen and (min-width: 200px)  and (max-width:1193px){
    ul{
display: flex;
flex-direction: column;
    }

    
}
